<app-layout-main>
  <ng-container *ngIf="itemContent !== null">
    <app-part-markdown [content]="itemContent"></app-part-markdown>
  </ng-container>

  <ng-container *ngIf="itemList !== null">
    <h1>Algorithm</h1>
    <p>競技プログラミングに使える典型的なアルゴリズムをまとめました。</p>

    <h2>コンテンツ</h2>
    <div class="contents">
      <app-part-card-content *ngFor="let item of itemList"
                             [link]="'/algorithm/' + item.key"
                             [title]="item.title"
                             icon="pi pi-tags">
        <p>{{ item.description }}</p>
      </app-part-card-content>
    </div>
  </ng-container>
</app-layout-main>
