<app-layout-main>
  <app-part-container-main>
    <ng-container *ngIf="state === 'initiated'">
      <app-part-progress-spinner></app-part-progress-spinner>
    </ng-container>

    <ng-container *ngIf="state === 'loaded'">
      <h1>Library - {{ item.title }}</h1>
      <p>{{ item.description }}</p>

      <h2>言語リスト</h2>
      <ul>
        <li *ngFor="let lang of item.langList">
          <a [routerLink]="'/library/' + item.key + '/' + lang">
            <app-part-language [lang]="lang"></app-part-language>
          </a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="state === 'notFound'">
      <app-part-message-center icon="pi pi-info-circle">コンテンツが見つかりませんでした。</app-part-message-center>
    </ng-container>
  </app-part-container-main>
</app-layout-main>
