<app-layout-main>
  <app-part-container-main>
    <ng-container *ngIf="state === 'initiated'">
      <app-part-progress-spinner></app-part-progress-spinner>
    </ng-container>

    <ng-container *ngIf="state === 'loaded'">
      <h1>Cooperation - AtCoder</h1>
      <p>コンテストの情報を集めました。</p>

      <h2>{{ contest.name }} - {{ task.name }}</h2>

      <h3>コンテンツ</h3>
      <app-part-card-content-box>
        <app-part-card-content [link]="'/cooperation/atcoder/contest/' + contest.key + '/' + task.key + '/accepted'"
                               icon="pi pi-external-link"
                               title="Accepted">
          <p>Accepted なプログラムをまとめています。</p>
        </app-part-card-content>
      </app-part-card-content-box>
    </ng-container>

    <ng-container *ngIf="state === 'notFound'">
      <app-part-message-center icon="pi pi-info-circle">コンテンツが見つかりませんでした。</app-part-message-center>
    </ng-container>
  </app-part-container-main>
</app-layout-main>
