<app-layout-main>
  <h1>Refkyopro</h1>
  <p>競技プログラミング関連の情報をまとめました。</p>

  <h2>コンテンツ</h2>
  <div class="contents">
    <app-part-card-content icon="pi pi-sort-amount-up"
                           link="/algorithm"
                           title="Algorithm">
      <p>競技プログラミングに使える典型的なアルゴリズムをまとめました。</p>
    </app-part-card-content>
    <app-part-card-content icon="pi pi-tags"
                           link="/library"
                           title="Library">
      <p>競技プログラミングに使えるライブラリをまとめました。組み合わせや素集合データ構造など。</p>
    </app-part-card-content>
    <app-part-card-content icon="pi pi-compass"
                           link="/suggestion"
                           title="Suggestion">
      <p>解放が思いつかないときに。いろいろなアルゴリズムをリストアップしてくれます。</p>
    </app-part-card-content>
    <app-part-card-content icon="pi pi-external-link"
                           link="/cooperation"
                           title="Cooperation">
      <p>競技プログラミングを提供するサービス特有の情報をまとめます。</p>
    </app-part-card-content>
  </div>

  <div class="visual-wrapper"></div>
  <app-part-visual-dijkstra height="2000"
                            width="2000"></app-part-visual-dijkstra>
</app-layout-main>
