app-part-visual-dijkstra {
  height: 2000px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-25%) translateY(-50%);
  width: 2000px;
  z-index: -2;
}

.visual-wrapper {
  background: linear-gradient(#fafafa, #fafafa 50%, rgb(0, 0, 0, 0));
  height: 8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
