<svg [attr.viewBox]="'0 0 ' + width + ' ' + height"
     xmlns="http://www.w3.org/2000/svg">
  <g>
    <line *ngFor="let link of linkList"
          [attr.stroke]="lineStroke(link)"
          [attr.stroke-width]="lineStrokeWidth(link)"
          [attr.x1]="link.source.x"
          [attr.x2]="link.target.x"
          [attr.y1]="link.source.y"
          [attr.y2]="link.target.y"></line>
  </g>
  <g>
    <circle *ngFor="let node of nodeList"
            [attr.cx]="node.x"
            [attr.cy]="node.y"
            [attr.fill]="circleFill(node)"
            [attr.r]="circleR()"
            stroke="#3e2723"></circle>
  </g>
</svg>
