<app-layout-main>
  <app-part-container-main>
    <h1>Cooperation - AtCoder</h1>
    <p>コンテストの情報を集めました。</p>

    <h2>コンテスト一覧</h2>
    <p-table [value]="contestList">
      <ng-template pTemplate="header">
        <tr>
          <th>コンテスト名</th>
        </tr>
      </ng-template>
      <ng-template let-contest
                   pTemplate="body">
        <tr>
          <td>
            <a [routerLink]="'/cooperation/atcoder/contest/' + contest.key">{{ contest.name }}</a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </app-part-container-main>
</app-layout-main>
