/* You can add global styles to this file, and also import other style files */

body {
  background: #fafafa;
  color: #212121;
  font-family: "Segoe UI", SegoeUI, "Yu Gothic UI", "Meiryo UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
