<app-layout-main>
  <app-part-container-main>
    <ng-container *ngIf="state === 'initiated'">
      <app-part-progress-spinner></app-part-progress-spinner>
    </ng-container>

    <ng-container *ngIf="state === 'loaded'">
      <app-part-markdown [content]="acceptedSource"></app-part-markdown>
    </ng-container>

    <ng-container *ngIf="state === 'notFound'">
      <app-part-message-center icon="pi pi-info-circle">コンテンツが見つかりませんでした。</app-part-message-center>
    </ng-container>
  </app-part-container-main>
</app-layout-main>
